#filters {
    background-color: white;
    box-shadow: 2px 2px 2px 2px #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 3rem
}

.filterSearch { width: 39% }
.filterPhase { width: 19% }
.filterScore { width: 39% }
.filterGroup { width: 19% }
.filterSegment { width: 19% }
.filterAcumValue { width: 19% }
.filterChk{ width: 39%; display: flex; font-family: 0.9rem}

#filters input, #filters select{
    background-color: #f5f5f5;
    border: none;
    width: 100%
}

input[type="checkbox"] {
    border: solid 1px lightgray;
}

#clients-list {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

#classification {
    margin-top: 15px;
    text-align: right;
}
